.ion-grid-layout {
	padding: 0 !important;
	margin: 0 !important;
}

.ion-grid-layout ion-row {
  padding: 0 !important;
  margin: 0 !important;
}

.ion-grid-layout ion-col {
	padding: 0 !important;
	margin: 0 !important;
}

.last-child-no-border ion-item:last-child {
	--inner-border-width: 0;
}

ion-badge.badge-count {
	font-weight: normal;
	color: gray;
}

.delete-button:hover ion-icon {
	color: red;
}

ion-item.no-end-padding {
	.item-inner {
		padding-right: 0;
	}
}
