/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import './sneat-grid-layout';

//noinspection CssUnknownTarget
@import "libs/components/src/lib/virtual-slider/virtual-slider.scss";

.cardy {
  --ion-background-color: #fcfcfc;
}

.cardy ion-card {
  --ion-background-color: #ffffff;
  background-color: #ffffff;
}


.sneat-tiny-start-padding  {
  --padding-start: 0.25em;
}

.sneat-small-start-padding  {
  --padding-start: 0.5em;
}

.sneat-small-end-padding  {
  --inner-padding-end: 0.5em;
}

.sneat-tiny-end-padding  {
  --inner-padding-end: 0.5em;
}

.sneat-no-end-padding  {
  --inner-padding-end: 0;
}

.sneat-small-end-margin {
  margin-right: 0.5em;
}

.sneat-tiny-end-margin {
  margin-right: 0.25em;
}

ion-buttons.sneat-no-horizontal-margins ion-button {
  margin-right: 0;
  margin-left: 0;
}

.sneat-no-end-margin {
  margin-right: 0;
}

ion-item.sneat-no-bottom-border {
  --border-width: 0;
  --inner-border-width: 0;
}

ion-modal.auto-height {
  --height: auto;

  //.modal-wrapper {
  //width: 90vw;

  .ion-page {
	position: relative;
	contain: content;
	max-height: 90vh;

	.modal-content {
	  overflow: auto;
	}
  }

  //}
}

@media screen and (max-width: 620px) {
  .sneat-hide-on-small-screen {display: none}
  .sneat-smaller-on-small-screen {font-size: smaller}
  .sneat-small-on-small-screen {font-size: small}
}

ion-popover {
  --min-width: 350px; // 350px is <ion-datetime> width TODO: This sucks!!!
}
