<sneat-for-team-card
	emptyTitle="For clubs & educators"
	itemsTitle="Spaces"
	buttonColor="tertiary"
	buttonText="Create community"
	[teamTypes]="['educator', 'sport_club']"
>
	<p>Organize your community.</p>
	<ul>
		<li>
			Contacts
			<i style="display: block">Staff, Members, Parents, etc.</i>
		</li>
		<li>Broadcast notifications</li>
		<li>Online enrollments</li>
		<li>
			Online payments
			<i style="display: block">(coming soon...)</i>
		</li>
		<li>RSVP</li>
	</ul>
</sneat-for-team-card>
