<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Home @ Sneat.app</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-card>
					<ion-card-header>
						<ion-card-title>
							For families
						</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>
							Get your personal life together!
						</p>
						<ul>
							<li>Shared contacts</li>
							<li>Schedule & Timetable</li>
							<li>ToDo</li>
							<li>Grocery shopping lists</li>
							<li>Debts management</li>
							<li>more...</li>
						</ul>
						<ion-button color="danger" style="text-transform: none">Start now</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card>
					<ion-card-header>
						<ion-card-title>
							For communities
						</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>Organize your community.</p>
						<ul>
							<li>
								Contacts
								<i style="display: block">Staff, Members, Parents, etc.</i>
							</li>
							<li>Broadcast notifications</li>
							<li>Online enrollments</li>
							<li>
								Online payments
								<i style="display: block">(coming soon...)</i>
							</li>
							<li>RSVP</li>
						</ul>
						<ion-button color="tertiary" style="text-transform: none">Create community</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-col>
			<ion-col>
				<ion-card>
					<ion-card-header>
						<ion-card-title>
							For work
						</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>You can use Sneat.app to improve your work processes with agile tools.</p>
						<ul>
							<li>Daily scrums</li>
							<li>Retrospectives</li>
							<li>Agenda management</li>
							<li>more...</li>
						</ul>
						<ion-button color="secondary" style="text-transform: none">Add your team</ion-button>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>


</ion-content>
