/* You can add global styles to this file, and also import other style files */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import 'libs/components/src/sneat-styles.scss';


// For some reason this one is not importing from common SCSS file.
// But maybe it's just OK as we need it only in DataTug for now
@import '../../../node_modules/tabulator-tables/dist/css/tabulator.min.css';

//.tabulator-selected{
//  background-color: #37901b !important;
//}

.modal-wrapper {
  height: 90%;
  top: 5%;
  position: absolute;
  display: block;
}
