<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Sneat<span class="sneat-hide-if-width-less-320">.app</span></ion-title>
		<ion-buttons slot="end" *ngIf="authStatus === 'notAuthenticated'" class="ion-padding-end">
			<ion-button fill="solid" color="danger" routerLink="login">
				<ion-icon name="log-in-outline" slot="start"></ion-icon>
				<ion-label class="sneat-hide-if-width-less-240">Login <span class="sneat-hide-if-width-less-420">to start</span></ion-label>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="cardy">

	<sneat-user-country></sneat-user-country>

	<ion-grid>
		<ion-row>
			<ion-col class="ion-no-padding">
				<sneat-for-families></sneat-for-families>
			</ion-col>
			<ion-col class="ion-no-padding">
				<sneat-for-educators></sneat-for-educators>
			</ion-col>
			<ion-col class="ion-no-padding">
				<sneat-for-work></sneat-for-work>
			</ion-col>
		</ion-row>
	</ion-grid>


</ion-content>
