<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{ emptyTitle }}
    </ion-card-title>
  </ion-card-header>
  @if ($spaces(); as spaces) {
    <ion-card-content>
      @if (!spaces.length) {
        <ion-button
          routerLink="/new-family"
          [color]="buttonColor"
          style="text-transform: none"
        >
          <ion-label>{{ newSpaceButtonText }}</ion-label>
        </ion-button>
      } @else if (spaces.length === 1) {
        <ion-button
          [color]="buttonColor"
          routerLink="/space/{{ spaces[0].type }}/{{ spaces[0].id }}"
          style="text-transform: none"
        >
          <ion-label>{{ singleSpaceButtonText }}</ion-label>
        </ion-button>
      }
    </ion-card-content>
    @if (spaces.length > 1) {
      <ion-list>
        <ion-item-divider color="light">{{ itemsTitle }}</ion-item-divider>
        <sneat-spaces-list [spaces]="spaces" [userID]="" />
      </ion-list>
    }
  }
</ion-card>
