<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-header>
				<ion-toolbar color="light">
					<ion-title>
						<span>DataTug.app</span>
					</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content color="light">
				<ion-item>
					<ion-label>Menu to be here</ion-label>
				</ion-item>
<!--				<ng-container *ngIf="menu">-->
<!--					<ng-template [ngComponentOutlet]="menu | async"></ng-template>-->
<!--				</ng-container>-->
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
