<ion-app>
	<ion-split-pane #ionSplitPane contentId="main" (ionSplitPaneVisible)="visibilityChanged($event)">
		<!--  the side menu  -->
		<ion-menu contentId="main" #menu>
			<ion-header>
				<ion-toolbar color="light">

					<ion-title routerLink="/" tappable (click)="menu.close()">
						<span style="margin-right: 0.5em;">
							<ion-icon color="primary" name="file-tray-stacked-outline"
												style="position: relative; top: 4px;"></ion-icon>
						</span>

						<ion-text color="primary" style="font-weight: bold">Freights.app</ion-text>
					</ion-title>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-router-outlet name="menu" [animated]="false"></ion-router-outlet>
			</ion-content>
			<ion-footer>
				Version: {{getGitHash()}}
			</ion-footer>
		</ion-menu>
		<ion-router-outlet id="main"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
