<ion-header>
	<ion-toolbar color="light">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Home @ Sneat.app</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="cardy">

	<ion-grid>
		<ion-row>
			<ion-col class="ion-no-padding">
				<sneat-for-families></sneat-for-families>
			</ion-col>
			<ion-col class="ion-no-padding">
				<sneat-for-educators></sneat-for-educators>
			</ion-col>
			<ion-col class="ion-no-padding">
				<sneat-for-work></sneat-for-work>
			</ion-col>
		</ion-row>
	</ion-grid>


</ion-content>
