name: Build NX project

on:
    push:
        branches:
            # - renovate/* - do not build renovate branches as they'll be built by PRs
            - main
    #            - feature/*
    #            - bugfix/*
    #            - improvement/*
    #            - personal/*
    pull_request:
    merge_group:

jobs:

    #    pnpm-cache:
    #        runs-on: ubuntu-latest
    #        steps:
    #            -   name: Checkout repository
    #                uses: actions/checkout@v4
    #                with:
    #                    fetch-depth: 0
    #
    #            -   uses: ./.github/actions/pnpm

    build-and-lint:
        #        needs: pnpm-cache
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            -   uses: ./.github/actions/pnpm

            -   name: Check circular dependencies
                run: |
                    npx madge --circular --extensions ts ./libs
                    npx madge --circular --extensions ts ./apps


            -   name: Derive appropriate SHAs for base and head for `nx affected` commands
                uses: nrwl/nx-set-shas@v4

            -   name: nx build & lint affected
                env:
                    # https://stackoverflow.com/a/73429959/1975086, https://github.com/angular/angular/issues/38216
                    BAZEL_TARGET: "1"
                # https://stackoverflow.com/questions/73876647/using-nx-run-many-shows-another-process-with-id-is-currently-running-ngcc
                # BE AWARE: Adding PARALLEL options may cause build to pass when it should have been failed
                run: pnpm run nx affected --target=build,lint --base=${{ env.NX_BASE }} --parallel=8



    e2e-playwright:
        name: Playwright tests
        timeout-minutes: 60
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6

            -   uses: ./.github/actions/pnpm

            -   uses: actions/setup-node@v6
                with:
                    node-version: lts/*

            -   uses: sneat-co/sneat-firebase@main

            -   name: Install Playwright Browsers
                run: pnpm exec playwright install chromium --with-deps

            -   name: Run Playwright tests
                run: pnpm exec playwright test

            -   uses: actions/upload-artifact@v6
                if: always()
                with:
                    name: playwright-report
                    path: playwright-report/
                    retention-days: 30
