name: Build Xcode Project

on:
    workflow_dispatch:  # This makes the workflow run when triggered manually

#    workflow_run:
#        workflows: [ "Build NX project" ]
#        branches: [ main ]
#        types:
#            - completed

jobs:
    build:
        runs-on: macos-latest

        steps:
            -   name: Checkout repository
                uses: actions/checkout@v5

            -   name: Set up Xcode
                run: |
                    sudo xcode-select --switch /Applications/Xcode.app
                    sudo xcodebuild -license accept  # Accept Xcode license if required

            -   name: Install dependencies
                run: |
                    cd ios
                    brew install cocoapods  # Or other dependencies you might need

            #      - name: Pod install
            #        run: |
            #          pod install --project-directory=./ios/App

            -   uses: ./.github/actions/pnpm

            -   name: Derive appropriate SHAs for base and head for `nx affected` commands
                uses: nrwl/nx-set-shas@v4

            -   name: nx build affected
                env:
                    # https://stackoverflow.com/a/73429959/1975086, https://github.com/angular/angular/issues/38216
                    BAZEL_TARGET: "1"
                # https://stackoverflow.com/questions/73876647/using-nx-run-many-shows-another-process-with-id-is-currently-running-ngcc
                # BE AWARE: Adding PARALLEL options may cause build to pass when it should have been failed
                run: pnpm run nx affected --target=build --base=${{ env.NX_BASE }} --parallel=8

            -   run: npx cap copy

            -   run: npx cap update

            -   name: Build the Xcode project
                run: |
                    xcodebuild -workspace ios/App/App.xcworkspace -scheme Sneat.app -sdk iphoneos -configuration Release build
