name: On PR or push to main

'on':
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install PNPM
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.19.0
          run_install: true

      - run: git rev-parse HEAD
      - run: git rev-parse HEAD~1

      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2

      - name: nx affected
        run: pnpm run nx affected -- --target=build --base=${{ env.NX_BASE }}
        working-directory: ./src


#      - name: NX build
#        run: pnpm run nx build datatug
#        working-directory: ./src
