name: On merge to main
'on':
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install PNPM
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.16.1
          run_install: true

      - name: NX build
        run: pnpm run nx build datatug
        working-directory: ./src

#      - uses: FirebaseExtended/action-hosting-deploy@v0
#        with:
#          repoToken: '${{ secrets.GITHUB_TOKEN }}'
#          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_SNEAT_TEAM }}'
#          channelId: live
#          projectId: sneat-team
#        env:
#          FIREBASE_CLI_PREVIEWS: hostingchannels
