<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>

	    <!-- 🔒 Required for Sign in with Apple -->
        <key>com.apple.developer.applesignin</key>
        <array>
            <string>Default</string>
        </array>

        <!-- 🔒 Required for Sign in with Google (via Firebase) -->
        <key>com.apple.developer.authentication-services.autofill-credential-provider</key>
        <array>
            <string>Default</string>
        </array>

</dict>
</plist>
